---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "bootstrap";
@import "slideshow";
@import "pushy";  // sidebar menu
@import "grid"; // photos grid
@import "nav";
@import "{{site.baseurl}}/css/font-awesome.min.css";
@import "{{site.baseurl}}/css/jquery.swipeshow.css";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300);

html, body { height: 100%; width: 100% }

a { color: black; }
a:hover { color: black; }
a:active, a:checked, a:focus { color: black; text-decoration: none; }

// Containers

.page-container {
  height: 100%;
  min-height: 100%;
  position: relative;
  margin: auto;
  @media (max-width: $screen-xs-max) { padding-top: $navbar-height; }
  @media (min-width: $screen-md-min) { width: $screen-md-min; }
  @media (min-width: $screen-lg-min) { width: $screen-lg-min; }
}

.left-container {
  @media (max-width: $screen-xs-max) {
    position: fixed;
    top: 0px;
    left: 0px;
    height: $navbar-height;
    width: 100%;
    z-index: 99;
    background-color: white;
  }
  @media (min-width: $screen-sm-min) {
    position: fixed;
    float: left;
    min-height: 100%;
    width: 200px;
    margin: auto;
  }
}

.content-container {
  @media (max-width: $screen-xs-max) {
    width: 100%;
    height: 100%;
  }
  @media (min-width: $screen-sm-min) {
    padding-left: 200px;
    width: 100%;
  }
  @media (min-width: $screen-md-min) {
    float: left;
    padding-left: 0px;
    margin-left: 200px;
    min-height: 100%;
    width: $screen-md-min - 400;
  }
  @media (min-width: $screen-lg-min) {
    width: $screen-lg-min - 400;
  }

  .text-container {
    font-weight: 300;
    h1 {
      font-size: 24px;
    }
    p {
      font-family: 'Roboto Slab', serif;
      font-size: 16px;
    }
    @media (max-width: $screen-xs-max) {
      h1, p {
        padding-left: $grid-spacing;
        padding-right: $grid-spacing;
        text-align: center;
      }
    }
  }

  .pad-top {
    @media (min-width: $screen-sm-min) {
      padding-top: 70px;
    }
  }

  h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
  }
}
