<header>
  <a href="#" class="menu-btn"><i class="fa fa-bars"></i></a>
  <span class="title"><a href="{{site.baseurl | prepend: site.url }}">arkilida.lt</a></span>
  <nav>
    <ul>
      <li><a href="{{site.baseurl | prepend: site.url }}">
        <span class="val">Projektai</span>
      </a></li>
      <li><a href="{{site.baseurl}}/apie">
        <span class="val">Apie</span>
      </a></li>
      <li><a href="{{site.baseurl}}/kontaktai">
        <span class="val">Kontaktai</span>
      </a></li>
    </ul>
  </nav>
</header>
