@font-face {
    font-family: 'Roboto Slab';
    src: url(/fonts/RobotoSlab-Thin.eot);
    src: url(/fonts/RobotoSlab-Thin.svg) format('svg'),
         url(/fonts/RobotoSlab-Thin.ttf) format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url(/fonts/RobotoSlab-Light.eot);
    src: url(/fonts/RobotoSlab-Light.svg) format('svg'),
         url(/fonts/RobotoSlab-Light.ttf) format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url(/fonts/RobotoSlab-Regular.eot);
    src: url(/fonts/RobotoSlab-Regular.svg) format('svg'),
         url(/fonts/RobotoSlab-Regular.ttf) format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url(/fonts/RobotoSlab-Bold.eot);
    src: url(/fonts/RobotoSlab-Bold.svg) format('svg'),
         url(/fonts/RobotoSlab-Bold.ttf) format('truetype');
    font-weight: 700;
}
